{{define "index"}}
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>RSS Reader</title>
			<link href="/static/output.css" rel="stylesheet">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet">
			<script src="https://unpkg.com/htmx.org@2.0.2" defer integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
		</head>
		<body>
			<h1 class="mb-4 font-grenze text-8xl text-center">RSS Reader</h1>
			<fieldset class="flex justify-center gap-8 w-max m-auto p-4 border-2 border-zinc-900">
				<legend>Choose your connection type</legend>
				<div>
					<input id="choice1" type="radio" name="connection" value="polling">
					<label for="choice1">Polling</label>
				</div>
				<div>
					<input type="radio" name="connection" value="sse">
					<label for="choice2">SSE</label>
				</div>
				<div>
					<input type="radio" name="connection" value="websocket">
					<label for="choice3">Websocket</label>
				</div>
			</fieldset>
			<div class="flex justify-evenly pt-8">
				<div>
					<form id="add-feed" hx-post="/addFeed" hx-target="next ul" hx-swap="beforeend" hx-on--after-request="this.reset()">
						<input required class="rounded-lg border border-black min-w-80 drop-shadow px-2 py-1 mr-2" type="url" placeholder="Enter an RSS feeed's url" name="inputField">
						<button class="rounded-lg bg-red-500 text-white px-4 py-1" type="submit">ADD</button>
					</form>
					<h2 class="mt-8 mb-5 text-2xl underline">Listening:</h2>
					<ul class="list-disc flex flex-col gap-4">
						{{range .}}
							{{template "li" .}}
						{{end}}
					</ul>
				</div>
				<div>
					<h2 class="text-2xl underline">Incoming Feed</h2>
					<ul id="incoming-feed" class="mt-8 flex flex-col gap-4">
						{{range .}}
							{{range .Items}}
								{{template "item" .}}
							{{end}}
						{{end}}
					</ul>
				</div>
			</div>
		</body>
	</html>
{{end}}

{{define "li"}}
<li class="list-item">
	<div class="flex gap-4">
		{{.Title}}
		<img hx-delete="/deleteFeed/{{.ID}}" hx-trigger="click" hx-target="body" class="cursor-pointer max-w-6 max-h-6" src="static/trash.svg" alt="Trash can">	
	</div>
</li>
{{end}}

{{define "items"}}
	{{range .Items}}
		<div hx-swap-oob="beforeend:#incoming-feed">
		{{template "item" .}}
		</div>
	{{end}}
{{end}}

{{define "item"}}
	<li class="flex justify-between items-center px-6 py-3 bg-slate-300 rounded-2xl">
		<h3 class="text-lg max-w-lg overflow-hidden whitespace-nowrap text-ellipsis"><span class="font-bold mr-3">Title:</span>{{.Title}}</h3>
		<div class="flex ml-16">
			{{if .Link}}
			<a href="{{.Link}}" target="_blank">
				<img class="cursor-pointer max-w-6 max-h-6 mr-2" src="static/link.svg" alt="Link icon">
			</a>
			{{end}}
			<p class="text-slate-600">{{.PubDate}}</p>
		</div>
	</li>
{{end}}

{{define "feed"}}
	{{template "li" .}}
	{{template "items" .}}
{{end}}

{{define "delete"}}
	<div id>
		
	</div>
{{end}}

{{define "error"}}
	<div hx-swap-oob="beforeend:#add-feed">
		<p class="text-red-500">{{.Error}}</p>
	</div>
{{end}}
